.btn {
  background-color: transparent;
  border: none;
  padding: 0 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 40px;
  outline: none;

  @include transitioned;

  @media screen and (max-width: 575px) {
    height: 38px;
    padding: 10px 16px;
  }

  &:hover {
    transform: scale(1.05);
    text-decoration: none;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .btn-icon {
    img {
      width: 24px;
    }
  }

  .btn-text {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;

    &.with-icon-2 {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }

  &.btn-primary {
    background-color: $color1;

    .btn-text {
      color: #fff;
    }
  }

  &.btn-secondary {
    background-color: $color2;

    .btn-text {
      color: #fff;
    }
  }

  &.btn-red {
    background-color: rgb(206, 40, 40);

    .btn-text {
      color: #fff;
    }
  }

  &.btn-outlined {
    border: 1px solid #ccc;
  }
}
