#training-stats {
  .back {
    position: absolute;
    left: 0;
    top: 0;
    margin: 1rem 0;

    * {
      font-size: 30px;
    }
  }

  .short {
    min-width: 150px;
  }

  .page-container {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    min-height: calc(100vh - 140px);
  }

  .graph {
    &:not(.single) {
      width: 100% !important;
    }
  }

  .dropdowns {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
}
