#training-stats {
  .page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 140px);
  }

  .graph {
    &:not(.single) {
      width: 100% !important;
    }
  }

  .dropdowns {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
}
