.inc-dec-timer {
  display: flex;
  height: 40px;

  button {
    width: 70px;
    flex-shrink: 0;
    cursor: pointer;
    border: 1px solid #fff;
    background-color: $color3;
    font-size: 20px;

    &:hover {
      background-color: $color4;
    }
  }

  input {
    flex-grow: 1;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
  }
}
